/* Header */

* {
  box-sizing: border-box;
}

h1, h2, h3, p, button, input, span, li {
  font-family: 'Inter', sans-serif;
}


body {
  background-color: #f9fafb;
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
  color: #1f2937;
  margin: 0;
}


.topo {
  position: sticky;
  top: 0;
  z-index: 20;
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(6px);
  height: 55px;
  border-bottom: 1px solid #e5e7eb;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}



.logo {
  width: 200px;
  height: 50px;
  margin-left: 5px;
  margin-top: 6px;
}

/* Container botão idioma */
.lang-container {
  position: relative;
}

/* Botão idioma */
.lang-btn {
  background-color: #ffffff;
  padding: 10px 18px;
  border-radius: 16px;
  border: none;
  display: flex;
  align-items: center;
  font-size: clamp(0.60rem, 0.8vw, 0.865rem);
  gap: 8px;
  cursor: pointer;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 101;
}

/* Ícone bandeira */
.lang-btn img {
  width: 20px;
  height: 20px;
}

/* Dropdown */
.lang-dropdown {
  position: absolute;
  top: calc(100% + 10px);
  right: 5px;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  z-index: 1000;
  min-width: 160px;
  padding: 5px;
  display: none;
}

/* Item */
.lang-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 14px;
  background-color: #fff;
  cursor: pointer;
  font-size: clamp(0.75rem, 1vw, 0.875rem);
  border-radius: 8px;
  margin-top: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.lang-item:hover {
  background-color: #f9f9f9;
}

.lang-item img {
  width: 18px;
  height: 18px;
}

/* Responsivo */
@media (max-width: 480px) {
  .topo {
    padding: 20px 12px 8px;
  }

  .lang-btn {
    padding: 7px 18px;
  }

  .lang-dropdown {
    min-width: 140px;
  }

  .lang-item {
    padding: 6px 12px;
  }

  .lang-btn img,
  .lang-item img {
    width: 18px;
    height: 18px;
  }
}
