.topo {
  position: sticky;
  top: 0;
  z-index: 9999;
  background: rgba(255,255,255,.95);
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.logo {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
}
.logo img {
  height: 50px;
  width: 50px;
  padding-right: 10px;
  border-right: 0.5px solid #000;
}
.Logo-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
}
.Logo-title {
  font-size: 10px;
  font-weight: bold;
}

.Logo-text span {
  font-size: 9px;
  font-style: italic;
  margin-top: 1px;
}

.lang-container { position: relative; }

.lang-btn {
  background: #fff;
  padding: 8px 14px;
  border-radius: 14px;
  border: none;
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  border: 0.1px solid #d9d9d9;
}

.lang-btn img { width: 20px; }

.lang-dropdown {
  position: absolute;
  top: calc(100% + 8px);
  right: 0;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0,0,0,.2);
  min-width: 160px;
  padding: 6px;
  display: none;
}

.lang-dropdown.show {
  display: block;
}

.lang-item {
  display: flex;
  gap: 10px;
  padding: 8px 12px;
  cursor: pointer;
}

.lang-item:hover {
  background: #f3f4f6;
}

.lang-item img {
  width: 18px;
}
