.pagamento-container {
  min-height: calc(100vh - 71px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  box-sizing: border-box;
  background: #f9fafb;
}

/* ===== Resumo ===== */
.pagamento-container .resumo-box {
  background: #ffffff;
  width: 40%;
  border-radius: 16px;
  padding: 16px;
  margin-bottom: 16px;
  box-shadow: 0 10px 30px rgba(0,0,0,.15);
}

.pagamento-container .resumo-titulo {
  text-align: center;
  margin-bottom: 12px;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}

.pagamento-container .resumo-item {
  margin: 6px 0;
    font-family: "Roboto", sans-serif;
}

.pagamento-container .resumo-lista {
  padding-left: 16px;
  margin: 6px 0;
    font-family: "Roboto", sans-serif;
}

.pagamento-container .resumo-item.total {
  font-size: 18px;
  font-weight: 700;
  margin-top: 10px;
    font-family: "Roboto", sans-serif;
}

/* Mobile ajuste */
@media (max-width: 480px) {
  .pagamento-container .resumo-box  {
    padding-bottom: 40px;
    width: 90%;
  }
}
