form#formVisitante {
    padding: 10px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 5px;
    font-family: 'Inter', sans-serif;
    margin-top: 20px;

}

form#formVisitante h2{
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    text-transform: uppercase;

}

input {
    width: 100%;
    height: 35px;
    margin-bottom: 20px;
    border-radius: 20px;
    padding-left: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    letter-spacing: 1px;
}

 select{
    width: 100%;
    height: 35px;
    margin-bottom: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    letter-spacing: 1px;
 }

input:focus, select:focus {
  border-color: #007BFF;
  outline: none;
   font-family: 'Inter', sans-serif;
}

button {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border: none;
  background: #007BFF;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
   font-family: 'Inter', sans-serif;
}

button:hover {
  background: #0056b3;
}
