/* Container do formulário */
.form-visitante-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Formulário */
#formVisitante {
  padding: 12px;
  background: #ffffff !important;
  border-radius: 14px;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.10);
  margin: 10px 5px;
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: center;
}

/* Título */
#formVisitante h2 {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 16px;
  text-align: center;
}

/* Inputs e Select */
#formVisitante input,
#formVisitante select {
  width: 96%;
  height: 40px;
  margin-bottom: 10px;
  border-radius: 20px;
  padding-left: 5px;
  border: 1px solid #ccc;
  font-size: 15px;
  font-family: 'Inter', sans-serif;
  letter-spacing: .5px;
}

/* Focus */
#formVisitante input:focus,
#formVisitante select:focus {
  border-color: #007BFF;
  outline: none;
}

/* Botão */
#formVisitante button {
  width: 100%;
  height: 50px;
  border-radius: 15px;
  border: none;
  background: #007BFF;
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  transition: background .3s, transform .15s;
}

/* Hover botão */
#formVisitante button:hover {
  background: #0056b3;
  transform: translateY(-1px);
}

/* Mobile ajuste */
@media (max-width: 600px) {
  #formVisitante {
    width: 90%;
  }
}
